/* Style Settings */

@import url('https://fonts.googleapis.com/css?family=Product%20Sans:400,700&display=swap');
:root {
    --font: 'Prodcut Sans', 'Product Sans', sans-serif;
}

body {
    background-image: url('../Picture/back.jpg'); /* Ganti dengan path menuju file sumber Anda */
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed;
}

iframe {
    width: 100%;
  }

.theme-light {
    --color-main: #5e5a5a;
    --color-text: #000;
}

#Photo {
    width: 105px;
    height: 105px;
    display: block;
    margin: 8px auto 13px;
    border-radius: 25%;
    border: 3px solid;
    border-color: #fff;
    box-shadow: 8px 5px 5px rgb(58, 55, 55);
}

#Photo-2 {
    width: 105px;
    height: 105px;
    display: block;
    margin: 8px auto 13px;
    border-radius: 25%;
    border: 3px solid;
    border-color: #fff;
    box-shadow: 8px 5px 5px rgb(58, 55, 55);
    cursor: pointer;
}

#Name {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    display: block;
    font-family: 'Product Sans';
    width: 100%;
    text-align: center;
}
#Description {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    display: block;
    font-family: 'Product Sans';
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

#title {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}


#linksbutton {
    max-width: 580px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.links {
    display: block;
    background-color: #fff;
    color: var(--color-text);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--color-main) 2px;
}

.links:hover {
    background-color: #5e5a5a;
    color: #ffffff; /* <- Added semicolon here */
    border: solid #fff 2px;
}

.gears {
    width: auto;
    text-align: center;
    margin: 10px auto;
}

.gear {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.0 );
    color: var(--color-text);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 10px;
    padding: 12px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--color-main) 2px;
}

.gear:hover {
    background-color: #fff;
    color: #000;
    border: solid var(--color-main) 2px;
}

.footervalue {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10px;
}

.footervalue a {
    text-decoration:none;
}

#footertext {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}
